########################################################################
#                                                                      #
# Automatic Parsing of Markdown text files                             #
#                                                                      #
# =======================================                              #
# PHP Extended Markdown                                                #
# Copyleft (c) 2013 Pierre Cassat                                      #
# http://www.ateliers-pierrot.fr - contact@ateliers-pierrot.fr         #
########################################################################


# We autorize CGIs
Options +ExecCGI
#AllowOverride All

# We include 'sh' in exec scripts
AddHandler cgi-script .sh

# To display '.md' files as text if something went wrong 
AddType text/html .md

# Here you can define some custom configuration variables used by the parser
#SetEnv EMD_TPL /GitHub_projects/extended-markdown/tests/template.html

# Treat '.md' files by the Markdown handler
# You can add any extension(s) you want to parse at the end of the line, separated by space
# CAUTION - this requires to know exactly where the CGI is ...
AddHandler MarkDown .md
Action MarkDown /GitHub_projects/extended-markdown/cgi-scripts/emd_apacheHandler.sh virtual
